# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# macOS system files
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux system files
*.pid
*.seed
*.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
*.idea_modules/

# VS Code related
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.cyclonedx.json  # Dependency scanning tools

# Flutter specific
.flutter-versions
.fvm/

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/*.xcworkspace
ios/.generated/
ios/.dart_tool/
ios/.idea/

# Android related
/android/app/debug
/android/app/profile
/android/app/release
android/.cxx/
android/.gradle/
android/app/.externalNativeBuild/
android/app/build/
android/gradle/wrapper/gradle-wrapper.jar

# Xcode related
*.xcworkspace/
*.xcuserstate
*.xcuserdatad/
*.lock
xcuserdata/

# Firebase related
firebase.json
*.firebaserc

# Fastlane related
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Google Service configuration files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Crashlytics related
crashlytics.properties
fabric.properties